<div class="container">
  <h1 class="text-center mainheading">How we work?</h1>
  <div class="row" style="margin-bottom: 50px">
    <div class="col-md-4 devopsImg" >
        <img src="../../assets/img/devops.png" alt=""  class="img-fluid">
    </div>
    <div class="col-md-1"></div>
      <div class="col-md-7 text-center align-self-center">
        <h3>"The quickest methods are not always the fastest one" - Gorden Beeming</h3>
        <h5 style="text-align: justify">Visualizing an idea as a software solution requires a Vision. A <strong>vision</strong> that covers a bug-free environment, runs on an efficient technical stack and is capable of fulfilling your future requirements is the need of the hour.</h5>
        <h5 style="text-align: justify">At Zinfinity, our team is capable of balancing the customized design with high end technology out there in market. We Design, Develop, Build, Deploy and Monitor the software with our continuous Support
        </h5><br>
        <h5 style="text-align: justify">Team <strong>Zinfinity</strong> is at your service to transform your ideas into a software solution..!</h5>
      </div>
  </div>
</div>