<div class="container">
  <h1 class="text-center mainheading" >Who we are</h1>
  <div class="row">
    <div class="col-md-6 First align-self-center pb-5">
        <img src="../../assets/img/WhoWeAre1.png" alt="" class="img-fluid">
    </div> 
    <div class="col-md-6 text-center align-self-center">
      <p class="para">
        We are <b>Zinfinity;</b> a highly motivated team who works to develop unique ideas into it's soft format. A team which works really hard to visualize and implement your thoughts while balancing the software quality and it's impact.<br>
      </p>
      <p class="para">We believe every challenge is an opportunity to achieve the best out of technology and our team is completely dedicated to it.
      </p>
    </div>
  </div>
</div>