<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <div class="container">
    <a href="index.html" class="navbar-brand"> 
        <picture>
            <source srcset="../assets/img/1.png" width="250px" media="(min-width: 576px)">
              <source srcset="../assets/img/1Mobile.png" width="250px" media="(max-width: 576px)">
              <img src="../assets/img/1Mobile.png" width="250px"/>
          </picture>
        </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a href="#showcase" class="nav-link nav-link-color">Home</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a href="#about" class="nav-link nav-link-color">About Us</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a href="#home-icons" class="nav-link nav-link-color">Services</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a href="#contact" class="nav-link nav-link-color">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>