<div class="container">
  <h1 class="text-center mainheading">Services</h1>
  <p class="text-center" style="font-size: 25px">Our Focused Services</p>
  <div id="cardServices" class="row">
    <div class="col-md-4 mb-4 text-center pt-3" data-toggle="modal" data-target="#exampleModalCenter">
        <img class="antiCardServices" src="../../assets/img/icons/2.png" width="70px" height="88px"/>
      <h3 class="heading3 antiCardServices">Web Application</h3>
      <p class="paraServices antiCardServices">A Web Application is the face of a company. We  

tailor your ideas with a unique custom design and best technology to provide seamless and coherent experience.</p>
    </div>
    <div class="col-md-4 mb-4 text-center pt-3" data-toggle="modal" data-target="#exampleModalCenter">
        <img class="antiCardServices" src="../../assets/img/icons/3.png" width="70px"  height="88px"/>
      <h3 class="heading3 antiCardServices">Mobile Application</h3>
      <p class="paraServices antiCardServices">Mobile application is an essential gateway for any upcoming business. We 

boot your application with interactions and smooth data transitions for a simple yet effective UX.</p>
    </div>
    <div class="col-md-4 mb-4 text-center pt-3" data-toggle="modal" data-target="#exampleModalCenter">
      <img class="antiCardServices" src="../../assets/img/icons/1.png" width="70px"  height="88px" />
      <h3 class="heading3 antiCardServices">Hardware Support</h3>
      <p class="paraServices antiCardServices">Setting up an office requires quality hardware products including 
        laptops, server, WiFi etc. We provide these with customized offers and single point support 
        from Zinfinity. </p>
    </div>
  </div>
</div>

