.sectionServices{
    background-color: black;
    color: white;
}

.btn-outline-orange {
    color: #ec6c1e;
    background-color: transparent;
    background-image: none;
    border-color: #ec6c1e;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #0088c5;
}
.nav-link-color{
    font-size: 18px;
    font-weight: 500;

}
.mainheading{
    line-height: 1;
    font-size: 60px;
    margin: 40px;
}

.heading3{
    line-height: 2;
    font-size: 30px;
}

.para{
    text-indent: 50px; 
    text-align:justify;
    font-size: 22px;
    line-height: 1.5;
}
.paraServices{
    text-align:center;
    font-size: 18px;
    line-height: 1.8;
}