.sectionServices{
    background-color: black;
    color: white;
}
.antiCardServices{
    /* No-Style */
}

.btn-outline-orange {
    color: #ec6c1e;
    background-color: transparent;
    background-image: none;
    border-color: #ec6c1e;
}

.btn-outline-orange :hover {
    color: white;
    background-color: #ec6c1e;
    background-image: none;
    border-color: #ec6c1e;
}

.mainheading{
    line-height: 1;
    font-size: 60px;
    margin: 40px;
}

.heading3{
    line-height: 2;
    font-size: 30px;
}

.para{
    text-indent: 50px; 
    text-align:justify;
    font-size: 22px;
    line-height: 1.5;
}
.paraServices{
    text-align:center;
    font-size: 18px;
    line-height: 1.8;
}