.sectionServices{
    background-color: black;
    color: white;
}
#cardServices{
    background-color: black;
    color: white;
}

#cardServices :hover:not(.antiCardServices){
    background-color: white;
    color: black;
    border-radius: 25px;
    transition: background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0088C5;
    color: white;
    cursor: pointer;
    padding: 2px 12px;
    border-radius: 50%;
    transition : none;
    font-size: 25px;
    text-align: center;
  }
  .antiCardServices{
    /* No-Style */
}

.btn-outline-orange {
    color: #ec6c1e;
    background-color: transparent;
    background-image: none;
    border-color: #ec6c1e;
}

.btn-outline-orange :hover {
    color: white;
    background-color: #ec6c1e;
    background-image: none;
    border-color: #ec6c1e;
}



.mainheading{
    line-height: 1;
    font-size: 60px;
    margin: 40px;
}

.heading3{
    line-height: 2;
    font-size: 30px;
}

.para{
    text-indent: 50px; 
    text-align:justify;
    font-size: 22px;
    line-height: 1.5;
}
.paraServices{
    text-align:center;
    font-size: 18px;
    line-height: 1.8;
}